@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

body{
    margin:0px;
    padding:0px;
}
::-webkit-scrollbar {
    display: none;
}
.main-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -ms-overflow-style: none;
    height: 100vh;
    weight: 100vw;
}
.clock{
    display: inline-block;
    padding:8px;
    border-radius: 0 0 10px 0;
    background-color: rgba(255,255,255,0.8);
    font-size: 22px;
    font-family: 'Spoqa Han Sans';
}
.title{
    margin:0px;
    padding:0px;
    position: absolute;
    top:25%;
    left:33%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 45px;
    font-family: 'Spoqa Han Sans';
    background-color: rgba(255,255,255,0.8);
    border-radius: 35px;
    padding : 15px;
}
.login{
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top:48%;
    left:33%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    font-family: 'Spoqa Han Sans';
}
.afterlogin{
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top:48%;
    left:33%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    font-family: 'Spoqa Han Sans';
}
.login-name{
    background-color: transparent;
    font-size: 30px;
    font-family: 'Spoqa Han Sans';
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:3px;
    text-align: center;
}
input:focus {outline: none;}
input::placeholder {
    color: gray;
}
.inputDiv{
    margin:0px;
    padding:0px;
    position: absolute;
    top:32%;
    left:54%;
    height: 4%;
    width:19%;
}
.input{
    font-size: 17px;
    font-family: 'Spoqa Han Sans';
    background-color: rgba( 255, 255, 255, 0.8 );
    border: none;
    color: black;
    outline: none;
    text-align: center;
    border-radius: 20px;
    float: left;
    height: 28px;
}
.list1{
    margin:0px;
    padding:0px;
    position: absolute;
    top:40%;
    left:54%;
    color:black;
    font-size: 17px;
    font-family: 'Spoqa Han Sans';
    background-color: rgba( 255, 255, 255, 0.8 );
    width: 19%;
    border-radius: 20px;
 }
.list2{
    margin:0px;
    padding:0px;
    position: absolute;
    top:40%;
    left:74%;
    color:black;
    font-size: 17px;
    font-family: 'Spoqa Han Sans';
    background-color: rgba( 255, 255, 255, 0.8 );
    width: 19%;
    border-radius: 20px;

}
.btn{
    display: inline-block;
    float: left;
    margin-left: 20px;
    height:30px;
    border:none;
    border-radius: 15px;
    color:white;
    width:82px;
    font-size: 18px;
}