@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Unbounded:wght@300;400&display=swap');

.background{
    background-color: powderblue;
    background-size: cover;
    height : 100vh;
    width : 100vw;
    padding : 0;
    margin : 0;
}
body{
    font-family: 'Spoqa Han Sans';
    padding : 0;
    margin : 0;
    position: fixed;
}


.clock{
    position: absolute;
    width:100%;
    top : 18%;
    text-align: center;
    font-size: 80px;
    font-family: 'Unbounded', cursive;
    color : white;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    background-color: transparent;
}
@media (max-width: 600px) {
    .clock {
        top : 10%;
        font-size: 50px;
    }
}
@media (max-width: 300px) {
    .clock {
        top : 10%;
        font-size: 46px;
    }
}
.mainContainer{
    position: absolute;
    width:100%;
    top : 48%;
    text-align: center;
}
@media (max-width: 600px) {
    .mainContainer {
        width:100%;
        top : 25%;
    }
}
@media (max-width: 930px) {
    .mainContainer {
        width:100%;
        top : 35%;
    }
}
.maintext{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color : white;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;

}

.maintextInput{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color : white;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    background-color: transparent;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:2px;
    border-color: white;
    text-align: center;
}
@media (max-width: 600px) {
    .maintext {
        font-size: 27px;
    }
    .maintextInput{
        font-size: 27px;
    }
}
@media (max-width: 400px) {
    .maintext {
        font-size: 25px;
    }
    .maintextInput{
        font-size: 25px;
    }
}
@media (max-width: 300px) {
    .maintext {
        font-size: 19px;
        text-align: left;
        margin-left: 20px;
    }
    .maintextInput{
        font-size: 19px;
    }
}
input::placeholder{
    color: darkgrey;
    text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;
}
input:focus {
    outline: none;
}

.logoutBtn{
    position: absolute;
    background-color: tomato;
    color:white;
    border:none;
    border-radius: 25px;
    font-size: 17px;
    padding:10px;
    margin : 5px;
}
@media (max-width: 415px) {
    .logoutBtn {
        border-radius: 15px;
        font-size: 15px;
        padding:5px;
        margin : 10px 0 0 0;
    }
}
@media (max-width: 315px) {
    .logoutBtn {
        border-radius: 15px;
        font-size: 15px;
        padding:7px;
        margin : 0 0 0 10px;
    }
}
.logoutBtn:hover{
    background-color: orange;
}
.by{
    display: inline-block;
    background-color: rgba(255,255,255,80%);
    border-radius: 25px;
    border-style: solid;
    padding : 4px 12px;
    position: absolute;
    right: 4%;
    bottom: 4%;
}
@media (max-width: 600px) {
    .by {
        right: 3%;
        bottom: 3%;
    }
}
.github{
    display: inline-block;
    height: 15px;
    margin: 0 0 0 9px;
}
.todolist{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    color : snow;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    margin:0;
    padding:0;
    position: absolute;
    right:7%;
    top:20%;
    width:25%;
    text-align: center;
}

@media (max-width: 600px) {
    .todolist {
        font-size: 26px;
        margin:auto;
        left:0;
        right:0;
        top:30%;
        width:90%;
    }
}
@media (max-width: 930px) {
    .todolist {
        font-size: 26px;
        margin:auto;
        left:0;
        right:0;
        top:40%;
        width:90%;
    }
}
@media (max-width: 330px) {
    .todolist {
        font-size: 20px;
        margin:auto;
        left:0;
        right:0;
        top:40%;
        width:90%;
    }
}
.todolistContainer{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    color : black;
    text-shadow:none;
    background-color: rgba(255,255,255,0.8);
    border-style: solid;
    border-radius: 20px;
}
@media (max-width: 330px) {
    .todolistContainer {
        font-size: 20px;
    }
}

.todolistInput{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    color : black;
    background-color: transparent;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:2px;
    border-color: black;
    text-align: center;
}
.todolistInput::placeholder{
    color: gray;
    text-shadow: none;
}
@media (max-width: 330px) {
    .todolistInput::placeholder {
        font-size: 19px;
    }
}
.innerList{
    text-align: left;
    list-style: none;
    padding-left: 15px;
}
.check{
    zoom:1.3;
}
.checked{
    text-decoration: line-through;
}
.unchecked{
    text-decoration: none;
}
.deleteBtn{
    float:right;
    margin:6px 18px 0 0;
    padding:2px;
    width:20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
}

